:root {
    --clr-body-text: oklch(85% 0 197);
    --clr-backgound: oklch(12% 0 197);

    --ff-base: system-ui, sans-serif;

    --fs-300: clamp(1.0625rem, 1.0089rem + 0.2679vw, 1.25rem);
    --fs-600: clamp(1.5131rem, 1.2479rem + 1.3259vw, 2.4rem);
}

/* --------------- GENERAL STYLES --------------- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-backgound);
    font-family: var(--ff-base);
    font-size: var(--fs-300);
    line-height: 1.5;
    color: var(--clr-body-text);
}

main {
    display: grid;
    place-content: center;

    width: min(75ch, 100% - 4rem);
    min-height: 100dvh;
    margin-inline: auto;

    text-wrap: pretty;
    font-size: var(--fs-600);
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(-20px);
    }
}

/* --------------- MEDIA QUERIES --------------- */

@media (prefers-color-scheme: light) {
    :root {
    --clr-body-text: oklch(20% 0 197);
    --clr-backgound: oklch(98% 0 197);
    }
}
