:root {
    --clr-body-text: oklch(85% 0 197);
    --clr-backgound: oklch(12% 0 197);

    --ff-base: system-ui, sans-serif;

    --fs-300: clamp(1.0625rem, 1.0089rem + 0.2679vw, 1.25rem);
    --fs-600: clamp(1.5131rem, 1.2479rem + 1.3259vw, 2.4rem);
}

/* --------------- GENERAL STYLES --------------- */

body {
    display: grid;
    place-content: center;
    background-color: var(--clr-backgound);
    min-height: 100vh;
    padding: 0 2rem;
  }

  main {
    font-size: var(--fs-600);
    color: var(--clr-body-text);
    text-align: center;
    font-family: var(--ff-base);
  }

  main span {
    display: block;
    height: 45px;
  }

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-45px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(-45px);
    }
}

/* --------------- MEDIA QUERIES --------------- */

@media (prefers-color-scheme: light) {
    :root {
    --clr-body-text: oklch(20% 0 197);
    --clr-backgound: oklch(98% 0 197);
    }
}
